body{
font-size: 25px;
font-family: bahnschrift;
background: #e5e4d7;
border-color: yellow;
border-width: 10px;
border-style: solid;
margin: 30px;
}

h1,h2{
font-family: Bahnschrift semibold;
color: #595959;
font-weight: normal;
font-size: 36px;
border-bottom:2px solid #c00000;
border-top:2px solid #c00000;
text-decoration: line-through overline underline;
}


h3{
font-family: impact;
font-size: 2em;
}
h4{
font-size: 300%;
}

p {
font-family: bahnschrift;
color: #595959; font-size: 16px;
}

p.para1{
color: blue;
font-size: 24px;
}
p.para2{
color: red;
font-size: 24px;
line-height: 3em;
}
p.para3{
color: green;
font-size: 24px;
font-style: oblique;
}
p.para4{
font-style: italic;
}

h1.head1{
  background: black;
  color: white;
  text-decoration: none;
  padding: 20px;
}
h1.head2{
  background: black;
  color: white;
  text-decoration: none;
  padding: 0px;
  border-color: blue;
  border-width: thick;
  border-style: solid;
  margin: 200px;
}
h1.head3{
  background: black;
  color: white;
  text-decoration: none;
  padding: 0px;
  border-color: blue;
  border-width: thick;
  border-style: solid;
  margin-right: 35px;
  margin-bottom: 100px;
}
