/* Body */
body{
  font-family: bahnschrift;
  color: rgb(0, 0, 0);
}
/* Body */
/* --------------------------------------------------------------------------------------------------------------------- */
/* Headers */
h1{
  color: rgb(89, 89, 89);
  font-size: 36pt;
}
h2{

}
/* Headers */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* Paragraphs */
p{
  font-family: bahnschrift;
}

p.p1{

}
/* Paragraphs */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* Link effects */
a:link{
  color: red
}

a:visited{
  color: green;
}

a:hover{
  color: blue;
}
/* Link Effects */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* Float Effects */
p.floatleft{
  float: left;
  width: 500pt;
}
p.floatright{
  float: right;
  width: 500pt;
}
/* Float Effects */
/* ---------------------------------------------------------------------------------------------------------------------- */
